@model RestaurantLibDB.Buchung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Buchung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buchungsnummmer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buchungsnummmer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Essenszeit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Essenszeit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GebuchtVon.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GebuchtVon.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InFiliale.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InFiliale.Name)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
