@model RestaurantLibDB.Kunde

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kundennummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kundennummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleKoch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleKoch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
